
    <nav class="nav-bar">
        <ul>
            <li>
                <a href="/"><img src="/img/icon_nav.png" width="128"></a>
            </li>
            <li>
                <a href="#"><img src="/img/icon_nav_prod.png" width="128"></a>
            </li>
            <li>
                <a href="#"><img src="/img/icon_nav_vision.png" width="128"></a>
            </li>
            <li>
                <a href="/contact"><img src="/img/icon_nav_contact.png" width="128"></a>
            </li>
        </ul>
    </nav>
