<nav class="nav-bar">
    <ul>
        <li>
            <a href="/"><img src="/img/icon_nav.png" width="96"></a>
        </li>
        <li>
            <a href="/products"><img src="/img/icon_nav_prod.png" width="96"></a>
        </li>
        <li>
            <a href="/about"><img src="/img/icon_nav_vision.png" width="96"></a>
        </li>
        <li>
            <a href="/contact"><img src="/img/icon_nav_contact.png" width="96"></a>
        </li>
    </ul>
</nav>