<!DOCTYPE html>
<html lang="en">
<%- include('partials/head.ejs')%>

    <body>
     

                    <a href="/" id="btn-leave">Leave</a>

                    <img src="/img/404.png" style="margin-left: 40vw; margin-top: 50px;" width="24%">
                
                    



          
    </body>

</html>

