* {
    color: #fff;
    box-sizing: border-box;
    margin: 0;
}

body {
    /* position: static; */
    background: rgb(54, 46, 46);
    background-image: url('/img/background_Umb.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    /* width: 100vw; */
    background-attachment: fixed;



}

header {
    width: 100vw;
    min-width: 368px;

}

header img {
    display: flex;
    width: 100vh;
    margin-top: 10px;
    margin-left: 25vw;
}

.bg-icon {
    width: 118px;
    height: 118px;
    margin-top: -77px;
    margin-left: 108px;
}

.img-roll {
    width: 128px;
    margin: 0;
    animation: roll 8s infinite linear;
}


.div-par {
    display: inline;


}

.div-par .article-home {
    width: 64vw;
    margin-left: 395px;

}


.div-par .article-home p {
    text-align: left;
    word-wrap: break-word;
    font-size: 23px;
}

.zomb {

    margin-top: 37vh;
    margin-left: 85vw;

}

.zomb .zomb-img {
    transform: rotateY(180deg);
    width: 110px;
}

@keyframes roll {
    /* transform:  rotate(45deg); */

    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(359deg);

    }

}


.nav-bar {
    display: flex;
    width: 200px;
    margin-top: 20px;
    margin-left: 16px;
}

.nav-bar ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

.nav-bar li {
    display: block;
    padding: 5px;
}

.nav-bar li a {
    text-decoration: none;
}

.nav-bar li a:visited {
    text-decoration: none;
    color: #fff;
}

.container {
    display: flex;
    flex-wrap: wrap;
    color: #fff;
    width: 668px;
    margin-top: -556px;
    margin-left: 391px;
    

}

.content {
    display: flex;
    flex-wrap: wrap;
}

.contact {
    position: relative;
    width: 420px;
    margin-top: 5vh;
    margin-left: 4vw;
}

.contact #form-contact {
    
    width: 424px;
    /* margin-top: 14vh;
    margin-left: -68vh; */

}


.contact #form-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 15px;
    padding-top: 20px;
    width: 410px;
}

.contact #form-group label {
    display: flex;
    align-items: center;
}

.contact #form-group input {
    padding: 10px;
    width: 320px;
    color: rgb(29, 19, 19);
    text-transform: uppercase;

}

.contact #btn-send {
    color: rgb(29, 19, 19);
    margin-top: 42px;
    margin-left: 144px;
    width: 200px;
    padding: 5px;
}



#btn-leave {
    color: black;
    text-decoration: none;
    background: #9b8a82;
    box-shadow: none;
    border-radius: 0px;
    margin-left: 50%;
}



.span-tip {
    display: none;
    position: absolute;
    left: 100px;
    bottom: 0;
    margin: 30px;
    overflow: hidden;
    background: #9bf0bd;
    color: black;
    height: auto;
    width: 244px;
    padding: 15px;
    border-radius: 4px;
    box-shadow:  0 0 8px rgba(56,56,56,0.8);
}




