* {
    color: #fff;
}

body {
    background: rgb(54, 46, 46);
    background-image: url('/img/background_Umb.jpg');
    background-repeat: no-repeat;
    background-size: cover;

}

header {
    /* background: rgb(80, 3, 3);
    background: -moz-linear-gradient(180deg, rgba(80, 3, 3, 1) 0%, rgba(73, 17, 6, 1) 35%, rgba(102, 20, 20, 1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(80, 3, 3, 1) 0%, rgba(73, 17, 6, 1) 35%, rgba(102, 20, 20, 1) 100%);
    background: linear-gradient(180deg, rgba(80, 3, 3, 1) 0%, rgba(73, 17, 6, 1) 35%, rgba(102, 20, 20, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#500303", endColorstr="#661414", GradientType=1); */
}

header img {
    position: relative;
    left: 70vh;

}

.bg-icon .img-roll {
    display: flex;
    margin-top: -800px;
    margin-left: 50px;
    animation: roll 8s infinite linear;
}

.bg-icon .zomb {
    position: absolute;
    top: 15px;
    left: 50px;
    transform: rotateY(180deg);
    width: 110px;
}

@keyframes roll {
    /* transform:  rotate(45deg); */

    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(359deg);

    }

}


.nav-bar {
    display: block;
}

.nav-bar ul {
    list-style: none;
}

.nav-bar li {
    display: block;
    padding: 5px;
}

.nav-bar li a {
    text-decoration: none;
}

.nav-bar li a:visited {
    text-decoration: none;
    color: #fff;
}

h1 {
    color: #fff;
}

.contact {
    display: flex;
    margin-top: -670px;
    margin-left: 500px;
}

.contact #form-contact {
    margin-top: 14vh;
    margin-left: -68vh;
}


.contact #form-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 15px;
    padding-top: 20px;
    width: 410px;
}

.contact #form-group label {
    display: flex;
    align-items: center;
}

.contact #form-group input {
    padding: 10px;
    width: 320px;
    color: rgb(29, 19, 19);
    text-transform: uppercase;

}

.contact #btn-send {
    color: rgb(29, 19, 19);
    margin-top: 42px;
    margin-left: 132px;
    width: 200px;
    padding: 5px;
}